<header class="app-header" x-data x-bind="WindowScroll">
  {% include 'core/nav-toggle.partial.njk' %}

  <a href="/" class="app-header__title">
    {{ app.title }}
  </a>

  {% include 'modules/themes/theme-switcher.partial.njk' %}
  
</header>
